/****** Object:  Table [dbo].[CUSTOMER_DATA]    Script Date: 1/4/2022 12:38:53 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_DATA]') AND type in (N'U'))
DROP TABLE [dbo].[CUSTOMER_DATA]
GO
/****** Object:  Table [dbo].[CUSTOMER_DATA]    Script Date: 1/4/2022 12:38:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_DATA](
	[Customer] [varchar](12) NULL,
	[SSN] [varchar](15) NULL,
	[Birthdate] [varchar](20) NULL,
	[Age] [int] NULL,
	[Region] [varchar](20) NULL,
	[RegionCode] [tinyint] NULL,
	[CredCardUser] [bit] NULL,
	[Income] [decimal](18, 0) NULL,
	[Purchases] [int] NULL,
	[AmtSpent] [decimal](18, 0) NULL,
	[CustomerType] [varchar](3) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CUSTOMER_DATA] ([Customer], [SSN], [Birthdate], [Age], [Region], [RegionCode], [CredCardUser], [Income], [Purchases], [AmtSpent], [CustomerType]) VALUES (N'384', N'610-94-1399', N'3/18/1963', 36, N'AL', 5, 0, CAST(88500 AS Decimal(18, 0)), 1, CAST(520 AS Decimal(18, 0)), N'R')
INSERT [dbo].[CUSTOMER_DATA] ([Customer], [SSN], [Birthdate], [Age], [Region], [RegionCode], [CredCardUser], [Income], [Purchases], [AmtSpent], [CustomerType]) VALUES (N'385', N'927-16-5466', N'9/12/1955', 43, N'South', 3, 0, CAST(113400 AS Decimal(18, 0)), 2, CAST(960 AS Decimal(18, 0)), N'3')
INSERT [dbo].[CUSTOMER_DATA] ([Customer], [SSN], [Birthdate], [Age], [Region], [RegionCode], [CredCardUser], [Income], [Purchases], [AmtSpent], [CustomerType]) VALUES (N'386', N'651-91-1281', N'7/8/1954', 44, N'NorthEast', 2, 1, CAST(57400 AS Decimal(18, 0)), 6, CAST(2920 AS Decimal(18, 0)), N'1')
GO
